.button {
    -fx-text-fill: white;
    -fx-background-color: #228B22;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5 8 5 8;
}

.text-field:error {
    -fx-border-color: black;
    -fx-focus-color: crimson;
    -fx-background-color: crimson;
}

.text-field:focused {
    -fx-background-color: white;
    -fx-border-color: deepskyblue;
    -fx-effect: dropshadow(gaussian, lightblue, 10, 0.5, 0, 0);
}

.text-field {
    -fx-border-radius: 5px;
    -fx-border-color: gray;
    -fx-border-width: 0.5px;
    -fx-padding: 5px;
    -fx-font-size: 18px;
}

.root {
    -fx-background-color: linear-gradient(lightgray, white);
}

#table .button {

}

